@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
a{
    text-decoration: none;

}
.main-nav{
    background-color: rgb(69, 69, 69);
    color:rgb(214, 214, 214);
    padding: 10px;

}
.nav-item-menu{
color:white}
/* .div-nav{  
} */
/* .div-item-menu{
display: flex;
justify-content: space-between;
margin: auto;
padding: auto;

    
   
    
} */
/*.nav-item-profile{
    color:white;
    background-color: green;
    
}
.profile-img{
    width: 50px;
    border-radius: 50%;
} */
